<%= form_for @response do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :site, "Your site", { class: 'control-label' } %>
    <%= f.select :site, Response::SITES, {class: 'form-control', include_blank: 'Select'} %>
  </div>
  <div class='form-group'>
    <%= f.label :responder, "Your name", { class: 'control-label' } %>
    <%= f.text_field :responder, { class: 'form-control' } %>
  </div>

  <div class='form-group-header'> Census Location: Addresses </div>
  <div class='form-group'>
    <%= f.label :keep_location, "1. Are you currently keeping historical location data (possible multiple addresses per person) in Census Location?", { class: 'control-label' } %>
    <%= f.label :keep_location, "Or do you have a single location for each person?", { class: 'control-label' } %>
    <%= f.select :keep_location, ['Historical', 'Single location'], { class: 'form-control', include_blank: 'Select'} %><br />
    <%= f.label :keep_location_years, "2. For what years do you have Census Location records for your population?", { class: 'control-label' } %>
    <%= f.text_field :keep_location_years, { class: 'form-control' } %><br />
    <%= f.label :keep_location_able, "3. <em>If single location</em>, would you be able to track changes in address in future files?".html_safe, { class: 'control-label' } %>
    <%= f.select :keep_location_able, Response::ABLE, { class: 'form-control', include_blank: 'Select' } %><br />
    <%= f.label :keep_location_comment, "4. Comments or concerns", { class: 'control-label' } %>
    <%= f.text_area :keep_location_comment, { class: 'form-control' } %>
  </div>

  <div class='form-group-header'> Census Location: Shapefiles </div>
  <div class='form-group'>
    <%= f.label :keep_shapefile, "5. Are you currently keeping the results of a single year's geocoding (using a single shapefile)?", { class: 'control-label' } %>
    <%= f.label :keep_shapefile, "Or do you keep the multiple geocodes produced by multiple years' shapefiles?", { class: 'control-label' } %>
    <%= f.select :keep_shapefile, ['Single shapefile', 'Multiple shapefiles'], { class: 'form-control', include_blank: 'Select'} %><br />
    <%= f.label :keep_shapefile_years, "6. What year or years shapefiles were used to build your current Census Location file?", { class: 'control-label' } %>
    <%= f.text_field :keep_shapefile_years, { class: 'form-control' } %><br />
    <%= f.label :keep_shapefile_able, "7. <em>If a single year</em>, would you be able to include multiple geocodes from multiple years' shapefiles in future files?".html_safe, { class: 'control-label' } %>
    <%= f.select :keep_shapefile_able, Response::ABLE, { class: 'form-control', include_blank: 'Select' } %><br />
    <%= f.label :keep_shapefile_comment, "8. Comments or concerns?", { class: 'control-label' } %>
    <%= f.text_area :keep_shapefile_comment, { class: 'form-control' } %>
  </div>

  <div class='form-group-header'> Census Demographics </div>
  <div class='form-group'>
    <%= f.label :keep_demog, "9. Are you currently keeping a single year's ACS data in Census Demographics?", { class: 'control-label' } %>
    <%= f.label :keep_demog, "Or do you have multiple years (historical) data?", { class: 'control-label' } %>
    <%= f.select :keep_demog, ['Single year', 'Multiple years'], { class: 'form-control', include_blank: 'Select'} %><br />
    <%= f.label :keep_demog_years, "10. What year or years are included in your Census Demographics file?", { class: 'control-label' } %>
    <%= f.text_field :keep_demog_years, { class: 'form-control' } %><br />
    <%= f.label :keep_demog_able, "11. <em>If single year</em>, would you be able to include demographic data for multiple years in future files?".html_safe, { class: 'control-label' } %>
    <%= f.select :keep_demog_able, Response::ABLE, { class: 'form-control', include_blank: 'Select' } %><br />
    <%= f.label :keep_demog_comment, "12. Comments or concerns?", { class: 'control-label' } %>
    <%= f.text_area :keep_demog_comment, { class: 'form-control' } %>
 </div>

  <div class='form-group'>
    <%= f.label :general_comments, "13. Do you have any other comments, concerns or possible obstancles that weren't covered by the above questions?", { class: 'control-label' } %>
    <%= f.text_area :general_comments, { class: 'form-control' } %>
  </div>

  <div class="actions">
    <%= f.submit "Save Survey" %>
  </div>
<% end %>

<div>&nbsp;</div>